<div class="drag-handler" cdkDrag [id]="pageElement.uId" [cdkDragData]="pageElement" [cdkDragDisabled]="dragDisabled" [class.selected]="selected"
  (click)="onHostClick()">
  <div class="item-drag-handle d-flex align-items-center" cdkDragHandle>
    <i *ngIf="!dragDisabled" class="las la-braille me-2"> </i>
    <i class="las la-times cursor-pointer ms-3" (click)="onRemoveClick()" *ngIf="!dragDisabled"></i>
    {{ pageElement.definition.name }}
    <span class="ms-5 text-muted" style="font-size: 0.6em;"> {{pageElement.uId}} </span>
  </div>

  <!-- <div class="item-drag-preview" *cdkDragPreview>
    {{ pageElement.definition.name }} with {{ pageElement.children.length }} child item(s)
  </div> -->
</div>
