<div class="drag-handler" cdkDrag [id]="pageElement.uId" [cdkDragData]="pageElement" [cdkDragDisabled]="dragDisabled" [class.selected]="selected"
  (click)="onHostClick()">
  <div class="item-drag-handle d-flex align-items-center" cdkDragHandle>
    <i *ngIf="!dragDisabled" class="las la-braille mr-2"> </i>
    {{ pageElement.definition.name }}
    <i class="las la-times cursor-pointer ml-2" (click)="onRemoveClick()" *ngIf="!dragDisabled"></i>
  </div>

  <!-- <div class="item-drag-preview" *cdkDragPreview>
    {{ pageElement.definition.name }} with {{ pageElement.children.length }} child item(s)
  </div> -->
</div>
