<!-- <div class="border border-primary rounded w-100 p-4" cdkDropList [cdkDropListEnterPredicate]="canEnter()" (cdkDropListEntered)="onEnter($event)"
  (cdkDropListDropped)="onDrop($event)" (cdkDropListExited)="onExit($event)" (cdkDropListSorted)="onSort($event)" [cdkDropListData]="element.children">

  <app-element [element]="child" *ngFor="let child of element.realChildren"></app-element>

</div> -->

<div cdkDropList class="item-dropzone parent rounded w-100" [id]="parentItemId" [cdkDropListData]="parentItem"
  [cdkDropListConnectedTo]="allDropListsIds" (cdkDropListDropped)="onDragDrop($event)">

  <div cdkDrag [id]="element.uId" [cdkDragData]="element" [cdkDragDisabled]="dragDisabled">
    <div title="Drag this item with children" class="item-drag-handle" cdkDragHandle>
      {{ element.definition.name }}

      <i *ngIf="!dragDisabled" class="las la-grip-vertical"> </i>
    </div>

    <div class="item-drag-preview" *cdkDragPreview>
      {{ element.definition.name }} with {{ element.realChildren.length }} child
      item(s)
    </div>
  </div>

  <ul cdkDropList class="item-dropzone" [id]="element.uId" [cdkDropListConnectedTo]="connectedDropListsIds" [cdkDropListData]="element"
    (cdkDropListDropped)="onDragDrop($event)">
    <li *ngFor="let subItem of element.realChildren">
      <app-element [element]="subItem" [parentItem]="element" [connectedDropListsIds]="allDropListsIds" (itemDrop)="onDragDrop($event)">
      </app-element>
    </li>
  </ul>
</div>
