<!-- NG-ZORRO -->
<nz-layout>
  <nz-sider style="height: 100vh;">
  <h1>Elements</h1>
</nz-sider>
  <nz-layout>
    <nz-header>Header</nz-header>
    <nz-content>
      <h1>Content</h1>
      <!-- <nz-card>
        <div [innerHTML]="sanitizedCode">
        </div>
      </nz-card> -->
      <ng-container #container></ng-container>
    </nz-content>
  <nz-footer style="height: 40vh;"> 
     <ngx-monaco-editor style="height: 100%" [options]="editorOptions" [(ngModel)]="monacoCode"></ngx-monaco-editor>
    <button (click)="setScode()">SET</button>
    </nz-footer>

  </nz-layout>
  <nz-sider style="height: 100vh;">
  <h1>Properties</h1>
  </nz-sider>
</nz-layout>