<div class="col{{(get('width') | async) ? '-' + (get('width') | async) : '' }}" *renderer-view="'design'">
  <renderer-drag-handler></renderer-drag-handler>

  <section class="drop-host" style="min-height: 50px;" drop-zone>
    <renderer-children></renderer-children>
  </section>

  <!-- <div class="border border-primary">
    {{'width' | prop}}
  </div> -->
</div>

<!-- -------------------------------------------------------------------------------------->
<section class="col{{(get('width') | async) ? '-' + (get('width') | async) : '' }}" *renderer-view="'run'">

  <renderer-children></renderer-children>

</section>
