/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap";

html,
body {
   font-family: Ubuntu;
}

.cursor-pointer {
   cursor: pointer;
}

.drop-zone {
   border: 1px dashed lightgray;
   border-radius: 4px;
   padding: 5px;
}

.drop-host {
   display: flex;
   align-items: stretch;
   justify-content: stretch;
   flex-flow: column nowrap;

   > * {
      flex: 1;
   }

   renderer-drop-zone {
      display: flex;
      flex-flow: column;
   }

   &-horizontal {
      flex-flow: row nowrap;

      renderer-drop-zone {
         flex-flow: row;
      }
   }
}
